matplotlib==3.3.4
numpy==1.23.5
pandas==1.1.5
regex==2023.3.23
requests==2.25.1
setuptools==52.0.0
tensorflow==2.12.0
tinydb==4.7.1
urllib3==1.26.5
websockets==11.0
keras==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
